 body { background-color: #ffffff; color: black; }

img {max-width: 100%; }

 header {width: 60%; margin: 0 auto; text-align: center; box-shadow: 5px 5px 5px gray; font-size: 1.5rem; color: black; border: 2px solid black}

#header {border: 0;}

#nav {text-align: center; background-color: #FFFFFF; font-family: 'Taviraj',serif; }

#nav a {text-decoration: none;}

.title {color: #0000ff; font-weight: bold;}

div { width: 80%; margin: 0 auto; border: 2px solid black; padding: 0 10px;}

footer {width: 60%; margin: 10px auto; padding: 3px 0; text-align:center; background-color: #A52A2A; color:white; font-size: 0.9rem;}

footer img {float:left; margin: 0 5px 5px 0;}